<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>memberServlet</servlet-name>
        <servlet-class>control.memberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sewaServlet</servlet-name>
        <servlet-class>control.sewaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aksi_admin</servlet-name>
        <servlet-class>control.aksi_admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BarangServlet</servlet-name>
        <servlet-class>control.BarangServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>control.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AkunServlet</servlet-name>
        <servlet-class>control.AkunServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPemesanan</servlet-name>
        <servlet-class>control.ServletPemesanan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusServlet</servlet-name>
        <servlet-class>control.CusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRetur</servlet-name>
        <servlet-class>control.ServletRetur</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>memberServlet</servlet-name>
        <url-pattern>/memberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sewaServlet</servlet-name>
        <url-pattern>/sewaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aksi_admin</servlet-name>
        <url-pattern>/aksi_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BarangServlet</servlet-name>
        <url-pattern>/BarangServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AkunServlet</servlet-name>
        <url-pattern>/AkunServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPemesanan</servlet-name>
        <url-pattern>/ServletPemesanan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusServlet</servlet-name>
        <url-pattern>/CusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRetur</servlet-name>
        <url-pattern>/ServletRetur</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
